/* Add your CSS styles here */



div#carousel { 
  perspective: 1200px; 
  background: #286ebe; 
  padding-top: 10%; 
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }











@media (min-width: 1025px) {
}
body {
    font-family: Arial, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    margin: 0;
    padding: 0;
  width: 100%;
  height: 100vh;
margin: 0 ;
background-color: #4a8edb;
color: #0f0f0f;
font-size: 16px;
}
img{
  height: fit-content;

}

h1, h2{
margin: 1em auto;
text-align: center;
}

main{
background-color: #1525b8;
color: #0c0c0c;

}
.card {
margin: 0 auto;
height: 90%;

}
.card-img-top{
 background: rgba(245, 216, 216, 0.1);
    height: fit-content;
    width: fit-content;
    padding-bottom: 40%;
}

#partners-profile {
  background-color: #c52626;   /* Sets the background color */
  padding: 20px;               /* Adds padding around the section */
  margin-bottom: 20px;         /* Adds spacing between sections */
  border-radius: 5px;          /* Rounds the corners of the section */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Adds a box shadow */
}
#company-profile {
  background-color: #80afe4;   /* Sets the background color */
  padding: 20px;               /* Adds padding around the section */
  margin-bottom: 20px;         /* Adds spacing between sections */
  border-radius: 5px;          /* Rounds the corners of the section */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Adds a box shadow */
}


 p {
  color: #1a1616;                 /* Sets the color of the section content */
  margin: 4em auto;
text-align: center;
position: relative;
}




/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
overflow-x: hidden;
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

/* Toggle Styles */

/*#viewport {
padding-left: 250px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#content {
width: 100%;
position: relative;
margin-right: 0;
}*/




